
$enable-rounded: false;
$cyan: #5fc6c9;
$blue: #618004;
$green: #9bcc0d;
$yellow: #ff9c00;
$red: #E32346;
$border-width: 2px;
$link-color: theme-color("info");
$headings-font-weight: 300;
$headings-font-family: 'Poppins', sans-serif;
$enable-responsive-font-sizes: true;
$component-active-bg: theme-color("info");
$secondary: $gray-900;
$border-color: $gray-200;
$card-border-color: rgba($black, .1);
$input-border-color: $gray-200;
$toast-border-width: 2px;
$carousel-indicator-active-bg: $black;