.poppins {font-family: 'Poppins', sans-serif; font-weight: 300}
.text-purple {color:#590080}
.bg-purple {background-color:#590080}
.border-purple {border-color:#590080 !important}

#carrusel .carousel-item {
	background-size: auto 100%;
	background-color: Black;
	background-repeat: no-repeat;
	background-position: center center;
}

#carrusel .slide-1 {
	background-image: url(../images2/slide-1.jpg);
}

#carrusel .slide-2 {
	background-image: url(../images/slide-1.jpg);
}

#carrusel .slide-3 {
	background-image: url(../images/slide-2.jpg);
}

#carrusel .tarjeta {
	background-color: rgba(255,255,255,0.9);
	padding: 60px 120px;
	margin-top: 175px;
}

#destacadas {
	background-color: #efefef;
}

#categoria {
	background-color: #ffffff;
}

.title-subtitle {
	border-left-width: 4px;
	border-left-style: solid;
}

.title-subtitle h1 {
	font-weight: 700;
}

.title-subtitle .h5 {
	color: #666;
}


#the-end {
	background-image: url(../images2/wikihigh-imagotipo.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#galeria .carousel-indicators {
	position: unset;
	margin: 0;
}

#galeria .carousel-indicators li {
	width: 120px;
	height: 120px;
	box-sizing: border-box;
}

.rombo {
	padding: 2rem 0;
}

.rombo span {
	padding: 2rem;
	background-image: url(../images2/rombo.png);
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#informacion ul {
	background-color: rgba(0,0,0,0.035);
}

body.cepas table img {
	background-image: url(../images2/verde.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.cepas #crecimiento .d-flex {
	margin-bottom: 2rem;
}

.cepas #crecimiento .flex-fill {
	padding: 1rem;
	font-weight: bold;
	max-width: 33.33333%;
}

/*
 * RESPONSIVE
*/

@media (min-width: 576px) {
	.fixed-bottom .form-inline .input-group {
		width: 100%;
	}
}

@media (min-width: 768px) {
	body.cepas #galeria {
		top: 0;
		bottom: 0;
		height: 0;
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	#carrusel .carousel-item {
		background-size: cover;
	}
}

@media (max-width: 575.98px) {
	#carrusel .tarjeta {
		padding: 30px;
		margin-top: 75px;
	}
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}